<h4>You're logged in! Here's a cat.</h4>

<button>
<a href="/private">Private GIF here</a>
</button>
<button>
<a href="/">Go back</a>
</button>
<br>
<img src="https://cdn.britannica.com/91/181391-050-1DA18304/cat-toes-paw-number-paws-tiger-tabby.jpg" alt="cat">