<h1>PRIVATE GIF ZONE</h1>
<button>
<a href="/main">Main Cat Zone</a>
</button>
<button>
<a href="/">Go back</a>
</button>
<br>
<img src="https://i.giphy.com/media/UO5elnTqo4vSg/giphy.webp" alt="funny-gif">